<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        Follow &nbsp;&nbsp; <a href="#" class="fa fa-instagram u-padding--5"></a>
        <a href="#" class="fa fa-facebook u-padding--10"></a>
      </div>
      <div class="col-md-6">
        Call <span class="a-text--green2">0800 GO 4 ECO</span> &nbsp; &nbsp; &nbsp; Email <a href="mailto:hello@ecoware.co.nz" class="a-text--green2">hello@ecoware.co.nz</a>
      </div>
      <div class="col-md-3 text-xs-right">
        Copywrite © 2016 Ecoware
      </div>
    </div>
  </div>
</footer>

<ng2-toasty></ng2-toasty>